* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Clear Sans Bold', arial;
}

body {
    font-size: 100%;
    background-color: black;
    font-weight: 350;
}

.menuHamburguesa {
    opacity: 1 !important;
    display: flex !important;
}

.menuHamburguesaBg {
    transition: .3s ease;
}